body {
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content_pago {
    text-align: center;
}

.content_pago a {
    color: var(--green-color);
    text-decoration: none;
}
.content_pago a:hover {
    text-decoration: underline;
}